x-layout > header, x-layout > footer {
    background-color: green;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

x-appbar a:link,
x-appbar a:visited  {
  color: white;
  text-decoration: none;
}

x-appbar i {
  padding-right: 7px;
}

* {margin: 0; padding: 0;}

.show-list-outer {
  margin-top: 10px;
}

.show-list {
  list-style-type: none;
  width: 100%;
}

.show-list h3 {
  font: bold 18px/1.4 Helvetica, Verdana, sans-serif;
}

.show-list li {
  padding: 10px;
  overflow: auto;
  height: 100%;
}

.show-list li:hover {
  background: #eee;
}

.show-list li img {
  float: left;
  margin: 0 15px 0 0;
}

.show-list .new-series-list-img {
  height: 150px;
  width: 100px;
}

.show-list .series-list-img {
  height: 90px;
  width: 60px;
}

#show-list li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

#show-list li button {
  float: right;
}
