<x-layout>
  <header>
    <x-appbar>
      {{#link-to 'series'}}<header>Series Manager</header>{{/link-to}}
      {{#link-to 'series-new'}}<i class="fa fa-plus"></i>{{/link-to}}
    </x-appbar>
  </header>
  <section>
    <div></div>
    {{outlet}}
  </section>
</x-layout>
