<x-layout>
  <header>
    <x-appbar>
      <h1>{{#link-to 'series'}}Watchy{{/link-to}}</h1>
      {{#link-to 'series-new'}}<i class="fa fa-plus"></i>{{/link-to}}
    </x-appbar>
  </header>
  <section>
    <div></div>
    {{outlet}}
  </section>
</x-layout>
