<div id="show-list-outer">
  <ul id="show-list">
{{#each model.episodes as |episode|}}
    {{#link-to 'episode' model.showID model.seasonNumber episode.number }}
    <li>
      <h3>Episode {{episode.number}}</h3>
      <p>{{episode.title}}</p>
    </li>
    {{/link-to}}
{{/each}}
  </ul>
</div>

{{outlet}}
