<ul>
</ul>

<div class="show-list-outer">
  <ul class="show-list">
{{#each model as |show|}}
    {{#link-to 'show' show.id}}
    <li>
      <img src="{{show.image}}" class="series-list-img">
      <h3>{{show.title}}</h3>
    </li>
    {{/link-to}}
{{/each}}
  </ul>
</div>

{{outlet}}
