<section data-type="list">
  <ul>
{{#each model as |show|}}
    <li>
      {{#link-to 'show' show.id}}
      <aside class="pack-end">
        <img src="{{show.image}}" class="series-list-img">
      </aside>

      <p>{{show.title}}</p>
      <p>{{show.nextEpisodeText}}</p>
      <small style="font-size:10px">{{show.nextEpisodeDate}}</small>
      {{/link-to}}
    </li>
{{/each}}
</ul>
</section>
