<section data-type="list">
  <ul>
{{#each model.seasons as |season|}}
    <li>
      {{#link-to 'season' model.showID season.number}}
      <p>Season {{season.number}}</p>
      <progress value="{{season.episodesWatched}}" max="{{season.episodesNum}}"></progress>
      {{/link-to}}
    </li>
{{/each}}
</ul>
</section>

{{outlet}}
