<section data-type="list">
  <ul>
{{#each model.computedSeasons as |season|}}
    <li>
      {{#link-to 'season' model.showID season.number}}
      <p>{{season.computedName}}</p>
      <progress value="{{season.episodesWatched}}" max="{{season.episodesNum}}"></progress>
      {{/link-to}}
    </li>
{{/each}}
</ul>
</section>
